@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*reset*/
*{margin: 0; padding: 0;box-sizing: border-box;}
html{height: 100%; overflow-y: scroll;width: 100%;}
li,dl,dt,dd,ol{list-style: none;}
img{border:none; vertical-align: middle;line-height: 0;max-width: 100%}
body{font: 16px/1.3 Nanum Gothic,'나눔고딕',Malgun Gothic,'맑은고딕',sans-serif;color: #282828;height: 100%;width: 100%;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
.blind,legend{position: absolute;left: -9999px;}
fieldset,select{border: none}
a,a:hover,a:focus{text-decoration: none;color: #282828;}
input,select{border-collapse: collapse;}
.clearFix:after{content: "";display: block;clear: both;}
.claerFix{*zoom:1;}
button,input[type=image],select,input[type=button],input[type=submit]{cursor: pointer;}
button{border: none;background: none;}
button span{text-indent: -9999px;display: inline-block}
address, em, strong{font-style: normal;}
[class*=wrapIn]{margin: 0 auto;padding: 0 9px;max-width: 1200px}
/*input[type=text],input[type=button],input[type=submit]{border:none;}*/
.container{max-width: 1200px; padding: 0 10px;margin: 0 auto;}
h3{font-size: 28px;font-weight: 800;text-align: center;padding-bottom: 30px;position: relative;}
h3:after {position: absolute;bottom:0; left: 50%;content:""; width: 50px; height: 4px; background-color: #a9203a;margin-left: -25px;}
/*헤더시작*/
#header {position: fixed;height: 50px;border-bottom: 1px solid #e7e7e7;width: 100%;padding: 15px;z-index: 2;}
#header.on{background-color: #fff;}
#header.on h1 a{font-size: 16px; color: #a9203a;}
#header.on #menu li a{color: #a9203a;}
#header button{display: none;}
.skip_menu a{display: block;width: 100%;padding: 10px; background-color: #000; color: #fff;position: absolute;left:0; top:-100px;text-align: center;}
.skip_menu a:focus{top:0;}
h1 a{font-size: 20px; line-height: 20px;font-weight: 800;color: #eee;transition: all 0.2s linear}
h1 a:hover,h1 a:focus {color: #fff;}
#menu {position: absolute;top:0; right:0;}
#menu li{float: left;}
#menu li:first-child a{color: #a9203a;}
#menu li a{font-size: 16px;color: #eee;font-weight: 800;padding: 15px;display: block;transition: all 0.2s linear;}
#menu li a:hover,#menu li a:focus{color: #fff;}
#fullpage{width: 100%; height: 100%;}
#section0{position: relative;width: 100%;min-height: 100%;text-align: center;color: #fff;background-image: url(../images/bg.jpg); background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
#section0 .greeting{width: 50%; position: absolute;top:40%; left:50%; margin-left: -26%;text-align: center;font-family: Merriweather;}
#section0 .greeting h2{font-size: 60px !important; font-weight: 800;margin-bottom: 80px;position: relative;}
#section0 .greeting h2:after{position: absolute;bottom:-40px;left:47%; content:""; background-color: #a9203a;width: 50px; height: 4px;}
#section0 .greeting p{font-size: 18px; color: #eee;margin-bottom: 50px;}
#section0 .greeting a{display: block;background: url(../images/more.png) 0 0 no-repeat;width: 165px; height: 52px;color: #fff; line-height: 52px; margin: 0 auto;font-weight: bold;}
#section0 .greeting a:hover,#section0 .greeting a:focus{background-image: url(../images/more_ov.png);}
#section1 .container {padding: 70px 0;}
#section1 dl{float: left;text-align: center;padding: 45px 0;}
#section1 dl dt {font-size: 20px;margin-bottom: 10px;font-weight: bold;}
#section1 dl dd {color: #888;font-size: 16px;font-weight: bold;}
#section1 .skill h3{margin-bottom: 80px;}
#section1 .skill dl{padding: 0 10px;}
#section1 .skill dl dd[class*=progressbar]{margin-bottom: 25px;}
#section1 .skill dl dd.p_ctrl{padding: 0 20px;}
.ui-progressbar{border: 1px solid #ccc;background-color: #f1f1f1; }
.ui-progressbar-value{font-size: 14px;color: #fff;height: 20px;-webkit-background-size: 40px 40px;
background-size: 40px 40px;background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); animation:progress-bar-stripes 2s linear infinite}
#progressbar1 .ui-progressbar-value{background-color: #11301d;}
#progressbar2 .ui-progressbar-value{background-color: #736435;}
#progressbar3 .ui-progressbar-value{background-color: #353573;}
#section2{background-color: #a32136;}
#section2 .container{height: 500px;padding-top: 70px;}
#section2 .container h3.co_wh{color: #fff;margin-bottom: 30px;}
#section2 .container h3.co_wh:after{background-color: #fff;}
#section2 .container li{float: left;color: #fff;text-align: center;padding-bottom: 50px;}
#section2 .container li figure{margin: 0 auto;}
#section2 .container li h4{font-weight: 18px;margin-bottom: 10px;}
#section3 .container li p{font-size: 14px;}
#section2 .container li:first-child .zoom-image,#section2 .container li:first-child .zoom-image > figure { background-image: url( ../images/interest_1.png);}
#section2 .container li:first-child+li .zoom-image,#section2 .container li:first-child+li .zoom-image > figure { background-image: url( ../images/interest_2.png);}
#section2 .container li:first-child+li+li .zoom-image,#section2 .container li:first-child+li+li .zoom-image > figure { background-image: url( ../images/interest_3.png);}
#section2 .container h4,#section3 .container h4 {font-size: 20px; font-weight: 800;}
.zoom-image {width: 200px;height: 200px;}
#section3 .container {padding-top: 70px;height: 400px;}
#section3 .container li{float: left;text-align: center;color: #888;font-weight: bold;margin-bottom: 35px;}
#section3 .container h3, #section5 .container h3{margin-bottom: 30px;}
#section4{background-color: #282828;}
#section4 h3 {text-align: left;color: #fff;margin-bottom: 30px;}
#section4 h3:after{left:0; margin-left: 0; background-color: #fff;}
#section4 .container{padding:70px 10px;height: 800px;}
#section4 ul li{margin-bottom: 35px;max-width: 300px}
#section4 ul li a{display: block;width: 100%;text-align: center;transition: all 0.2s linear}
#section4 ul li div {max-width: 300px;margin: 0 auto;position: relative;}
#section4 ul li a:after{opacity: 0;content:"";width: 90%; height: 100%; background: url(../images/bg_dim.png) 0 0 repeat;position: absolute;top:0; left: 30px;margin-left:-15px ;transition: all 0.2s linear}
#section4 ul li a:before{z-index: 2;opacity: 0;content:"";width: 40px; height: 34px; background: url(../images/link.png) 0 0 repeat;position: absolute;top:44%; left: 44%;transition: all 0.2s linear}
#section4 ul li a>img{width: 100%;}
#section4 ul li a:hover:after,#section4 ul li a:hover:before{opacity: 1;}
#section4 ul li p{font-size: 14px;padding: 10px 0; margin: 0 auto;max-width: 300px;width: 100%;height: 100px;color: #fff;}
#section4 ul li p span{display: block;font-weight: 800;font-size: 18px;margin-bottom: 10px;}
#section5 .container {padding: 70px 30px;height: 900px;}
#section5 li{float: left;text-align: center;padding-top: 90px;background: url(../images/phone.png) 50% 50% no-repeat;}
#section5 li:first-child+li{background-image: url(../images/email.png);}
.submitBtn{text-align: center;}
.submitBtn input {border: none; background-color: none; background: url(../images/more.png) 0 0 no-repeat;width: 165px; height: 52px;color: #fff; line-height: 52px; margin: 0 auto;font-weight: bold;}
.submitBtn input:hover,.submitBtn input:focus{background-image: url(../images/more_ov.png);}
.form-group textarea{height: 100px;}
#typed-strings{width: 100%;}
.slideanim {visibility:hidden;}
.slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
 @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
 .typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.type-wrap{text-align: center;}
.type-wrap span,.type-wrap p{font-weight: 800;}
@media(max-width: 768px){
#header button {display: block;position: absolute;top:7px;right: 14px;}
#menu {display: none;background-color: #fff;right:auto; left: 0;top:50px;width: 100%;}
#menu li{float: none;}
#header.on #menu li a{color: #282828;font-size: 14px;}
#header.on #menu li a:hover,#header.on #menu li a:focus{color: #a9203a;}
#section0 .greeting {width: 64%;margin-left: -30%;}
#section0 .greeting h2{font-size: 30px !important;}
#section0 .greeting p{font-size: 16px !important;}
#section0 .greeting h2:after{left: 36%;}
#section4 .container{height: auto;}
#section4 ul {max-width: 600px; margin: 0 auto;}
#section4 ul li p{font-size: 12px}
.type-wrap{display: none;}
}
@media(max-width: 620px){
#section4 ul {max-width: 300px;}

}